<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <form method="post" action="{% url 'submit_answers' test.id %}">
    {% csrf_token %}
    <h1>{{ test.title }}</h1>
  
    {% for question in questions %}
      <h2>{{ question.question_text }}</h2>
  
      {% if question.answers.exists %}
        <ul>
          {% for answer in question.answers.all %}
            <li>
              <label>
                <input type="checkbox" name="answers_{{ question.id }}" value="{{ answer.answer_text }}">
                {{ answer.answer_text }}
              </label>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <input type="text" name="answer_{{ question.id }}" placeholder="Your answer" />
      {% endif %}
    {% endfor %}
  
    <button type="submit">Submit</button>
  </form>
  


</body>
</html>