{% extends 'main/layout.html' %}
{% load static %}
{% block head %}
{% endblock head %}

{% block title %}
    Курсы
{% endblock title %}

{% block header %}
    {% include 'main/navbar.html' %}
    <link rel="stylesheet" href="{%static 'main/css/course_material.css'%}">
{% endblock header %}

{% block content %}
  {% if request.user.is_authenticated %}
    <section class="block_content">
    {% comment %}{% for material in materials %}
      {{material.content|safe}}
      {% empty %}
      <li>Нет материалов для этого курса.</li>
      {% endfor %}{% endcomment %}
      <h1>{{ subtopic.title }}</h1>
      <p>{% for object in content %}
          {{object.material_number.content|safe}}
        {% endfor %}</p>
    {%else%}
    </section>
  {% endif %}
    
{% endblock content %}