{% extends 'main/layout.html' %}

{% block head %}
{% endblock head %}


{% block title %}
    Home
{% endblock title %}

{% block header %}
    {% include 'main/navbar.html' %}
{% endblock header %}

{% block content %}
<section class="image_main">
    <section class="card_main">
        <p class="desc">Добро пожаловать на нашу образовательную платформу! Мы стремимся предоставить вам удобный и эффективный способ доступа к актуальным учебным материалам и проведению тестирования.</p>
        <span class="line"> </span>
        <p class="desc">У нас вы сможете найти широкий выбор курсов, разделенных по различным тематикам, которые помогут вам расширить знания и навыки в интересующих вас областях.</p>
    </section>
    <button class="main_btn">НАЧАТЬ ОБУЧЕНИЕ</button>
    
</section>
<h1>Последние новости</h1>
<section class="news_section">
    <h2 style="max-width: 700px">Онлайн-курс по программированию стал доступен для всех</h2>
    <p style="max-width: 700px">Наш сайт рад представить новый онлайн-курс по программированию, который стал доступен для всех желающих. Этот курс предлагает уникальную возможность изучить основы программирования и развить свои навыки в этой области. Зарегистрируйтесь сегодня и начните свой путь в мире кодирования!</p>
    <h2 style="max-width: 700px">Улучшенная система тестирования и оценки на нашем сайте</h2>
    <p style="max-width: 700px">Мы рады сообщить, что наш сайт внедрил улучшенную систему тестирования и оценки для наших студентов. Теперь вы сможете проходить тесты онлайн, получать мгновенную обратную связь и отслеживать свой прогресс. Наша новая система поможет вам эффективно изучать материалы и достигать больших результатов!</p>
</section>


{% endblock content %}
