{% extends 'main/layout.html' %}

{% block title %}
    Home
{% endblock title %}

{% block header %}
    {% include 'main/navbar.html' %}
{% endblock header %}

{% block content %}
<section class="image_main">
    <section class="card_main">
        <p class="desc">Добро пожаловать на нашу образовательную платформу! Мы стремимся предоставить вам удобный и эффективный способ доступа к актуальным учебным материалам и проведению тестирования.</p>
        <span class="line"> </span>
        <p class="desc">У нас вы сможете найти широкий выбор курсов, разделенных по различным тематикам, которые помогут вам расширить знания и навыки в интересующих вас областях.</p>
    </section>
    <a class="main_btn" style="color: #fff" href="{%url 'courses'%}">НАЧАТЬ ОБУЧЕНИЕ</a>
</section>

<section class="news_section">
    <h1>Последние новости</h1>
    {% for el in news %}
        <section class="news_el">
            <h2 style="max-width: 700px">{{el.title}}</h2>
            <p style="max-width: 700px">{{el.content}}</p>
            <p>{{el.date}}</p>
        </section>
    {% endfor %}

</section>
{% endblock content %}
