.block_content{
    max-width: 860px;
    margin: auto;
}

.a, a:visited {
    color: #FFF;
}
.course_btn {
    background: linear-gradient(90deg, #FE6D33 0%, #6C212C 100%);
    padding: 25px;
    border-radius: 25px;
    color: #FFF;
    font-weight: 500;
    max-width: 500px;
  }