.card_course{
    margin-top: 20px;
    display: flex;
    flex-direction: row;

}

.course_description{

    padding: 48px;
    background-color: black;
    color: white;
    width: 100%;
    border-radius: 26px;
}

.markdown{
    font-weight: bold;
    font-size: 45px;
}

.paragraph{
    margin-top: 20px;
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 450;
    max-width: 1100px;
    word-wrap: break-word;
}

.section_md{
    display: flex;
    flex-direction: row;
}

.course_image{
    max-height: 150;
    max-width: 150px;
    border-radius: 26px;
}

.course_programm {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 25px;
    margin-top:20px;
}

.course_programm h2 {
margin-top:10px;
}

.course_list {
list-style-type: none;
margin: 0;
padding: 0;
}

.course_list li {
background-color: #ffffff;
border-radius: 10px;
padding: 15px;
margin-bottom: 10px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}